<a href="https://colab.research.google.com/github/Preciousosas/Energy_Data-Stage_B/blob/main/Energy_Data(StageB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [ ]:
# Access dataset
energy = pd.read_csv('/content/drive/MyDrive/Hamoye/energydata_complete.csv')

In [ ]:
# Open dataset
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
# Not neccessry for this project
#energy['date'] = pd.to_datetime(energy['date'])

# **Data Preprocessing**

In [ ]:
# Check for missing columns
energy.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
#17) From the dataset, fit a linear model on the relationship between the temperature in the living room in
#  Celsius (x = T2) and the temperature outside the building (y = T6).
#  What is the Root Mean Squared error in three D.P?

In [ ]:
# Drop columns
energy = energy.drop(columns=['date','lights'])

# Normalize the dataset
scaler = MinMaxScaler()
normalised_energy = pd.DataFrame(scaler.fit_transform(energy), columns=energy.columns)
feature_energy = normalised_energy.drop(columns = ['Appliances'])
Target = normalised_energy['Appliances']

In [ ]:
# Split dataset into target and features
x_train, x_test, y_train, y_test = train_test_split(feature_energy, Target,
test_size=0.3, random_state=42)

# **Model Training**

In [ ]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_train = linear_model.predict(x_train)

# **Model Evaluation**

In [ ]:
# 18) What is the Mean Absolute Error (in three decimal places) for the  training set?
mae = mean_absolute_error(y_train, predicted_train)
round(mae, 3)

0.05

In [ ]:
# 19) What is the Root Mean Squared Error (in three decimal places) for the training set?
rmse = np.sqrt(mean_squared_error(y_train, predicted_train))
round(rmse, 3)

0.089

In [ ]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_test = linear_model.predict(x_test)

In [ ]:
# 20) What is the Mean Absolute Error (in three decimal places) for test set?
mse = mean_absolute_error(y_test, predicted_test)
round(mse, 3)

0.05

In [ ]:
# 21) What is the Root Mean Squared Error (in three decimal places) for test set?
rmse = np.sqrt(mean_squared_error(y_test, predicted_test))
round(rmse, 3)

0.088

In [ ]:
# 23) Train a ridge regression model with default parameters.
# Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
ridge_reg = Ridge()
ridge_reg.fit(x_train, y_train)

reg_predict = ridge_reg.predict(x_test)
reg_rmse = np.sqrt(mean_squared_error(y_test, predicted_test))
round(reg_rmse, 3)

0.088

In [ ]:
# 24) Train a lasso regression model with default value and obtain the new feature weights with it.
# How many of the features have non-zero feature weights?

In [ ]:
# 25) What is the new RMSE with the Lasso Regression on the test set?